* {
    padding: 0;
    margin: 0;
}
html,
body {
    /* min-height: 100%; */
    background-color: white;
}
a {
    text-decoration: none;
    color: black;
}
img {
    vertical-align: middle;
}
.one-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.more-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
li {
    list-style: none;
}
.clearfix:after{/*伪元素是行内元素 正常浏览器清除浮动方法*/
    content: "";
    display: block;
    height: 0;
    clear:both;
    visibility: hidden;
}
.clearfix{
    *zoom: 1;/*ie6清除浮动的方式 *号只有IE6-IE7执行，其他浏览器不执行*/
}
